.image-resizer {
  display: block;
  width: 7px;
  height: 7px;
  position: absolute;
  background-color: rgb(60, 132, 244);
  border: 1px solid #fff;
  border-radius: 50%;
  z-index: 10;
}

.image-resizer:hover {
  background-color: #007AFF;
}

/* Positioning the resize handles */
.e-resize {
  top: 50%;
  right: -6px;
  transform: translateY(-50%);
  cursor: e-resize;
}

.w-resize {
  top: 50%;
  left: -6px;
  transform: translateY(-50%);
  cursor: w-resize;
}

.s-resize {
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);
  cursor: s-resize;
}

.n-resize {
  top: -6px;
  left: 50%;
  transform: translateX(-50%);
  cursor: n-resize;
}

.se-resize {
  bottom: -6px;
  right: -6px;
  cursor: se-resize;
}

.sw-resize {
  bottom: -6px;
  left: -6px;
  cursor: sw-resize;
}

.ne-resize {
  top: -6px;
  right: -6px;
  cursor: ne-resize;
}

.nw-resize {
  top: -6px;
  left: -6px;
  cursor: nw-resize;
} 